*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


body{
    background-color: #F0F2F5;
    position: relative;
    height: 115vh;
    overflow-x: hidden;
}


#container{
    display: flex;

}




 #recent-logins{
    display:flex;
    flex-direction: column;
    position: relative;
    left:20vw;
    top: 13vh;
    margin-right: 30vw;

}


#facebook{
    height: 70px;
    width: 198px;
    margin: -20px
}



#first-text{
    font-size: 23px;
    font-weight: normal;
    line-height:32px;
    margin-top:20px;
    margin-bottom:5px
}



#second-text{
    color: #606770;
    font-size: 15px;
    line-height:15px;
    margin-bottom:20px;
    font-weight: 400;
}


#cards{
    display:flex;
}



#first-card, #second-card{
    position:relative;
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;
    margin-right:20px
}





#first-card:hover,#second-card:hover{
    box-shadow: 0 8px 16px rgba(0,0, 0, 0.2);
    cursor: pointer;
    object-fit: cover;
    transition:box-shadow 0.3s;

}



#first-card-img,#second-card-img{
    height: 160px;
    object-fit: cover;
    width: 160px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



#second-name{
    color:#166FE5
}


.name{
    font-size:18px;
    line-height: 22px;
    padding:12px;
    text-align: center;
    color: rgb(75, 79,86);
}




#cancel{
    position: absolute;
    left:8px;
    color:white;
    top:5px;
    border-radius: 50%;
    height:20px;
    text-align: center;
    width:20px;
    background-color: rgb(63,62,62);
    opacity:0.5;
}




#first-card > #cancel:hover{
    background-color: white;
    opacity: 1;
    object-fit: cover;
    color: rgb(194,193,193);
    height: 25px;
    width: 25px;
    line-height: 22px;
    top: -5px;
    left: -5px;
    font-size: 25px;
    transition: 0.3s;

}


#logins{
    position:relative;
    background-color: #FFFFFF;
    height:350px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    top:18vh;
    justify-content: flex-start;
    padding:10px 10px 20px 10px;
    align-items:center;
    box-shadow:0 5px 5px 3px gainsboro;
}


#logins >a{
    margin: 18px 0;
    text-decoration:none;
    font-size: 15px;
    color:#1877F2;
}




#logins >a:hover{
    text-decoration: underline;
    cursor:pointer 
}




hr{
    width: 95%;
    height:0.1%;
    background-color: rgb(194,193,193);
    border: none;
}


#logins >input[type=email] ,#logins >input[type=password]{
    height: 35%;
    margin: 8px 0;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    width: 95%;
    border:1.5px solid #EEEFF0    
}
 #logins >input[type=password]{
    margin-bottom: 12px;
 }

 #logins >input[type=email]:focus , #logins >input[type=password]:focus{
    outline:none;
    border: 1px solid blue;
    box-shadow: 0 0 5px #719ECE;
    caret-color: blue;
 }

 #login-button{
    background-color: #1877F2;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    height: 120px;
    font-weight: bold;
    width: 95%;
 }



 #login-button:hover{
    background-color: #166FE5;
    cursor:pointer;
 }

 #create-new-account{
    background-color: #42b72a;
    color:#FFFFFF;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    height:100px;
    font-weight:bold;
    width: 60%;
    margin-top: 20px;

 }


 #create-new-account:hover{
    background-color: #36A420;
    cursor:pointer
 }


 p{
    font-size: 15px;
    position: absolute;
    bottom: -55px;
 }




 footer{
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 20px;
    color: #a6a8aa;
    font-size: 12px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    word-spacing: 12px;
    list-style: 20px;
 }


 @media screen and (max-width:1114px) {
    #recent-logins{
        left:70px;
        margin-right: 22vw;
    }

    #logins{
        right: 30px;
    }
 }




 @media screen and (max-width:900px) {
    body{
        height:150vh;

    }
    #container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #recent-logins{
        margin-right: 0;
        align-items: center;
        left:0;
        top: 20px;
    }
    #first-card{
        margin-right:5px;
    }
    #second-card{
        margin-left:5px;
        margin-right:0;
    }
    #logins{
        text-align: center;
        left:0;
        margin-right:0;
        margin-top: -30px;
        top:80px;
    }
    #recent-logins,#logins{
        position: relative;
    }
    footer{
        position:absolute;
        padding: 20px;
        width:100vw;
    }

}




@media screen and
 (max-height:670px){
    footer{
        position:relative;
          top: 100px;    
}
}